*{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

font-size: 1em;
margin: auto;
}



a{
    text-decoration: none;
}


.left-header-text{
    text-align: left;
    font-size: 6em;
    margin-left: 10%;
    margin-top: -50%;
    font-weight: bolder;
}



.right-header-text{
    text-align: right;
    font-size: 6em;
    margin-right: 10%;
    margin-top: -51%;
    font-weight: bolder;
    
}

a:link{
    color: white;
    font-style: oblique;
    text-shadow:
		-1px -4px 0 #000,
		5px -5px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

    
    
    
    

a:hover{
    color: red;

}
a:focus{

    color: rgb(172, 153, 153);

}

.picture-right{

    text-align: right;
    margin-top: -33.99%;
}
.picture-right-complete{
    border: solid black 8px;
}


.picture-left-complete{
    border: solid black 8px;
}
